<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h5 style="color:white">
    {{ title }}!
  </h5>
 </div>
<div style="text-align:center;color:white;"><b>Note:</b><i style="margin-left:10px;">It is not official website from</i> NTTDATA.</div>
<div style="text-align:center;color:white;"><i style="margin-left:10px;margin-right:5px;">developed by</i> <a href='https://github.com/varund29'>Varun Kumar</a>.<i style="margin-left:5px;margin-right:5px;">powered by</i> <a href='https://angular.io/'>Angular 7.0</a>, <a style="margin-left:5px;"href='https://stackblitz.com/'>stackblitz</a></div>

<router-outlet>
<app-calendar></app-calendar>
</router-outlet>
