<div class="date-title-main">
<div class="date-title">
    <div class="row">
         <button  class="btn btn-primary " (click)="prevLocation()">&laquo; </button> 
        <div class="col-sm-4 select-fm">       
                <select class='form-control' [(ngModel)]='caln.selectedLocation' (change)="onLocationSelect($event)">
                    <option value="{{i}}" *ngFor="let l of caln.locations;let i=index;">{{l}}</option>
                </select>          
        </div>
           <button  class="btn btn-primary btn-r" (click)="nextLocation()">&raquo; </button> 
           <button  class="btn btn-primary" (click)="prevYear()">&laquo; </button> 
        <div class="col-sm-4 select-fm">       
                <select class='form-control' [(ngModel)]='caln.selectedYear' (change)="onYearSelect($event)">
                    <option value="{{i}}" *ngFor="let y of caln.years;let i=index;">{{y}}</option>
                </select>          
        </div>         
          <button  class="btn btn-primary btn-r" (click)="nextYear()">&raquo; </button> 
          <button  class="btn btn-primary" (click)="prevMonth()">&laquo; </button> 
          <div class="col-sm-4 select-fm">                       
                <select class='form-control' [(ngModel)]='caln.selectedMonth' (change)="onMonthSelect($event)">
                    <option value="{{i+1}}" *ngFor="let m of caln.months;let i=index;">{{m}}</option>
                </select>                    
          </div>
         <button  class="btn btn-primary" (click)="nextMonth()" >&raquo; </button>  
    </div>
</div>
</div>
<div class="week-title">
    <div class="weekItem" *ngFor="let w of caln.weeks">
        <div>{{w}}</div>
    </div>
</div>
<div class="wrapper">
    <div class="cardListItem" [ngClass]="in.cssClass" (click)="onCellClick(i,in.displayLabel)"
        *ngFor="let in of caln.cell;let i = index;">
        <div class="index-number">
            {{in.displayLabel}}
            <p *ngFor="let holi of in.holidays;let i = index;">{{holi}}</p>
        </div>
    </div>
</div>